fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langchain-google-genai
langgraph

chromadb

beautifulsoup4
requests
lxml
langchain-chroma
sqlalchemy
psycopg2-binary

pydantic
pydantic-settings

python-dotenv

typing-extensions
pytest